#map, #map-canvas {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: red;
    display: block;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.control-panel {
    /*background-color: black;*/
}

.container-fluid {
    background:url(http://namhah.com/images/1.jpg);
  margin-top: 100px;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}